#################################################
#      Goose Belt Purger configuration file     #
#                   Core module                 #
#################################################
This file is for core modules