#################################################
#      Goose Belt Purger configuration file     #
#                 Extra modules                 #
#################################################
This file is for modules related to Goose Belt Purger, but not strictly part of the core functionality

# code to disable servo output 1 second after it has been called. Purpose is to prevent it from heating. Executed automatically after printer initialization after it hopefully retracted the mount. And later on request. 
[delayed_gcode _goose_purge_disable_servo]
gcode:

#!we need to check if servo exists and only execute it it does!

	SET_SERVO SERVO=goose_purge_servomount WIDTH=0
#   A list of G-Code commands to execute when the delay duration has
#   elapsed. G-Code templates are supported. This parameter must be
#   provided.
#initial_duration: 1.0
#   The duration of the initial delay (in seconds). If set to a
#   non-zero value the delayed_gcode will execute the specified number
#   of seconds after the printer enters the "ready" state. This can be
#   useful for initialization procedures or a repeating delayed_gcode.
#   If set to 0 the delayed_gcode will not execute on startup.
#   Default is 0.




### Brush macro ###


