#################################################
#      Goose Belt Purger configuration file     #
#                 Main cfg file                 #
#################################################
This file is the main cfg file. It should contain includes to other files and the core scheduler/state machine


### Includes ###


### Main GOOSE_PURGE macro ###
	# should call state machine


### State machine ###
	# should it be here, or in a core file?