#################################################
#      Goose Belt Purger configuration file     #
#                  Custom macros                #
#################################################
This file is for user defined custom macros (related to GBP)