#################################################
#    Goose Purge Software configuration file    #
#                   Core macros                 #
#################################################
This file is for core macros