#################################################
#    Goose Purge Software configuration file    #
#                 Extra macros                 #
#################################################
This file is for macros related to Goose Purge Software, but not strictly part of the core functionality

# code to disable servo output 1 second after it has been called. Purpose is to prevent it from heating. Executed automatically after printer initialization after it hopefully retracted the mount. And later on request. 
[delayed_gcode _goose_purge_disable_servo]
gcode:

#!we need to check if servo exists and only execute it it does!

	SET_SERVO SERVO=goose_purge_servomount WIDTH=0
#   A list of G-Code commands to execute when the delay duration has
#   elapsed. G-Code templates are supported. This parameter must be
#   provided.
#initial_duration: 1.0
#   The duration of the initial delay (in seconds). If set to a
#   non-zero value the delayed_gcode will execute the specified number
#   of seconds after the printer enters the "ready" state. This can be
#   useful for initialization procedures or a repeating delayed_gcode.
#   If set to 0 the delayed_gcode will not execute on startup.
#   Default is 0.




### Brush macro ###



### Bucket stepper macros ###

[gcode_macro _goose_purge_tray_park_pos]
description: parking the tray on a safe spot, with enought force to shake the purges
gcode:
    MANUAL_STEPPER STEPPER=goose_purge_tray MOVE=0 SPEED=2000 sync=1
    MANUAL_STEPPER STEPPER=goose_purge_tray ENABLE=0

[gcode_macro _goose_purge_tray_purge_pos]
description: maove the tray under the belt
gcode:
    MANUAL_STEPPER STEPPER=goose_purge_tray MOVE=70 SPEED=400 sync=1								# the move position should be a variable
    MANUAL_STEPPER STEPPER=goose_purge_tray ENABLE=0

[delayed_gcode _goose_purge_tray_home]
description: home the tray and park it in a safe spot
initial_duration: 1																					# if in use should be disabled for the first move, to check the right direktion of the stepper.
gcode:
        MANUAL_STEPPER STEPPER=goose_purge_tray MOVE=-100 SPEED=100 sync=1 STOP_ON_ENDSTOP=1
        MANUAL_STEPPER STEPPER=goose_purge_tray SET_POSITION=0
        MANUAL_STEPPER STEPPER=goose_purge_tray ENABLE=0


