#################################################
#    Goose Purge Software configuration file    #
#                  Custom macros                #
#################################################
This file is for user defined custom macros 