#################################################
#    Goose Purge Software configuration file    #
#              Hardware definitions             #
#################################################
This file is for hardware configuration


### Belt DC motor pin definition ###
	# If your motor does not run, you can replace 'output_pin' for 'fan_generic', keeping the rest of the configuration. The macro will run either way. 
[output_pin goose_purge_belt]
# Define 'pin:' to your board. Do not change remaining lines 
pin: PD15
pwm: True
hardware_pwm: True
cycle_time: 0.00004   			# 25kHz PWM


### Servo retractable mount servo ###

[servo goose_purge_servomount]
pin:
#maximum_servo_angle: 90
#minimum_pulse_width: 0.001
#maximum_pulse_width: 0.002
#initial_angle: 0


### Stepper configuration ###

	### Belt Stepper ### 		

#[manual_stepper goose_purge_belt]
#step_pin: PE2					# Step pin of the NEMA
#dir_pin: !PE3					# Direction pin of the NEMA  (invert with ! if necessary)
#enable_pin: !PD4
#microsteps: 8 
#rotation_distance: 60			# Distance (mm) per full rotation of the stepper
#velocity: 100					# Maximum velocity (mm/s) during purge
#accel: 1000						# Acceleration (mm/s^2)

#[tmc2209 manual_stepper goose_purge_belt]
#uart_pin: PE1
#interpolate: false
#run_current: 0.4				# Current in Amps
#sense_resistor: 0.110
#stealthchop_threshold: 0


	### Tray / Bucket Stepper ###

#[manual_stepper goose_purge_tray]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#microsteps: 8 
#rotation_distance: 40
#velocity: 500
#accel: 8000
#endstop_pin: ^PG14

#[tmc2209 manual_stepper goose_purge_tray]
#uart_pin: PD3
#interpolate: false
#run_current: 0.6
#sense_resistor: 0.110
#stealthchop_threshold: 0









