#################################################
#    Goose Purge Software configuration file    #
#                   Variables                   #
#################################################
This file is for customizable variables